{% extends 'myapp/base.html' %}
{% block content %}
    <div class="col-lg-6" style="max-width: 100%; height: 90vh;">
        <div class="row justify-content-center">
            <div class="col-sm-8 py-5 my-5">
                <h2 class="mb-4">About Us</h2>
                <p>YAATRIGO. is a software application which is a computerized system.
                    This system allows to maintain all the records related to agencies and customers
                    Travel information in a computerized way which saves lot of time.
                    This System provides accurate, real-time traveler information which is viewed by
                    many public transportation agencies.<br>
                    YAATRIGO. provides a website to the users to use all the services. Websites first
                    page which gives a small introduction to the customers about the site.
                    The next shows ‘contact us’ and ‘contact information’ which provides the
                    detailed information about the traveler agency which includes mobile number ,
                    telephone number, email, website and location of the agency.
                    User can contact them for more information.</p>
                <p><b>Lonsectetur adipisicing elit. Blanditiis aspernatur, ratione dolore vero asperiores explicabo.</b></p>
                <p>If the user is older member of the agency then he can get logged in by
                    giving username and password. If he is a new user he need to get
                    registered to the website by giving some personal information.
                    Are you looking for YAATRIGO ? We are here to help
                    you. You can Contact Us. Buses are the most frequently available and most
                    used vehicle for going from small distance trips to very long trips. They’re
                    a no. of types of buses available in the market according to the private or
                    public. According to ac or no ac. Apart from this interstate, shrines, or
                    inter-country also possible.</p>
            </div>
        </div>
    </div>
        <footer class="footer-10" style="background: #343a40!important; box-shadow: inset 0px 5px 0px #b9b6b6;">
        <div class="container bg-dark text-white">
            <div class="row no-gutters">
                <div class="col-md-4 mb-md-0 mb-4 d-flex">
                    <div class="con con-1 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-call"></span>
                            </div>
                            <div class="text">
                                <span>(+91) 123 4567 890 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-4 d-flex">
                    <div class="con con-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-mail"></span>
                            </div>
                            <div class="text">
                                <span>yaatrigo@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 mb-4 d-flex">
                    <div class="con con-3 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-pin"></span>
                            </div>
                            <div class="text">
                                <span>Ujjain - 456222 Madhya Pradesh</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
      <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
        <p class="copyright mb-0 text-white pt-2 pb-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="#" target="_blank">YAATRIGO</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
        </div>
    </footer>

        <!-- REVIEWS Section  -->
        <!-- <div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
            <h2 class="section-title my-5 text-center">REVIEWS</h2>
            <div class="row mt-3 mb-5">
                <div class="col-md-4 my-3 my-md-0">
                    <div class="testmonial-card">
                        <h3 class="testmonial-title">John Doe</h3>
                        <h6 class="testmonial-subtitle">Web Designer</h6>
                        <div class="testmonial-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nobis eligendi, quaerat accusamus ipsum sequi dignissimos consequuntur blanditiis natus. Aperiam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="testmonial-card">
                        <h3 class="testmonial-title">Steve Thomas</h3>
                        <h6 class="testmonial-subtitle">UX/UI Designer</h6>
                        <div class="testmonial-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum minus obcaecati cum eligendi perferendis magni dolorum ipsum magnam, sunt reiciendis natus. Aperiam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3 my-md-0">
                    <div class="testmonial-card">
                        <h3 class="testmonial-title">Miranda Joy</h3>
                        <h6 class="testmonial-subtitle">Graphic Designer</h6>
                        <div class="testmonial-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, nam. Earum nobis eligendi, dignissimos consequuntur blanditiis natus. Aperiam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
 CONTACT Section  -->
        <!-- <div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
            <div class="row">
                <div class="col-md-6 px-0">
                    <div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>
                </div>
                <div class="col-md-6 px-5 has-height-lg middle-items">
                    <h3>FIND US</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laboriosam doloremque odio delectus, sunt magnam laborum impedit molestiae, magni quae ipsum, ullam eos! Alias suscipit impedit et, adipisci illo quam.</p>
                    <div class="text-muted">
                        <p><span class="ti-location-pin pr-3"></span> 12345 Fake ST NoWhere, AB Country</p>
                        <p><span class="ti-support pr-3"></span> (123) 456-7890</p>
                        <p><span class="ti-email pr-3"></span>info@website.com</p>
                    </div>
                </div>
            </div>
        </div> -->
    
        <!-- page footer  -->
        <!-- <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
            <div class="row">
                <div class="col-sm-4">
                    <h3>EMAIL US</h3>
                    <P class="text-muted">info@website.com</P>
                </div>
                <div class="col-sm-4">
                    <h3>CALL US</h3>
                    <P class="text-muted">(123) 456-7890</P>
                </div>
                <div class="col-sm-4">
                    <h3>FIND US</h3>
                    <P class="text-muted">12345 Fake ST NoWhere AB Country</P>
                </div>
            </div>
        </div>
        <div class="bg-dark text-light text-center border-top wow fadeIn">
            <p class="mb-0 py-3 text-muted small">&copy; Copyright <script>document.write(new Date().getFullYear())</script> Made with <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com">DevCRUD</a></p>
        </div> -->
        <!-- end of page footer -->
    
        <!-- core  -->
        <!-- <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
        <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    
         bootstrap affix -->
        <!-- <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script> -->
    
        <!-- wow.js -->
        <!-- <sc/ript src="assets/vendors/wow/wow.js"></script> -->
        
        <!-- google maps -->
        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script> -->
    
        <!-- FoodHut js -->
        <!-- <script src="assets/js/foodhut.js"></script>
        <script src="assets/js/call.js"></script>/ -->

{% endblock %}