{% extends 'myapp/adminbase.html' %}

{% block content%}
{% for message in messages%}
<p class = 'alert alert-success mt-3'>{{message}}</p>
{% endfor %}
<div style="height:600px;width:100%;margin-top:0px;background-image:url('/static/adminbus01.jpg')">
    <form method="POST" action = "addbus">
      {% csrf_token %}
      <center>
       <label style="color:white;"><b>Bus NO.:</b></label>
       <div>{{form.bus_no}}</div>
       <label style="color:white;"><b>Bus Name:</b></label>
       <div>{{form.bus_name}}</div>
       <label style="color:white;"><b>SOURCE:</b></label>
       <div>{{form.source}}</div>
       <label style="color:white;"><b>DESTINATION:</b></label>
       <div>{{form.dest}}</div>
       <label style="color:white;"><b>Total KM:</b></label>
       <div>{{form.total_km}}</div>
       <label style="color:white;"><b>Travel Time:</b></label>
       <div>{{form.travel_time}}</div>
       <label style="color:white;"><b>Number of Seats:</b></label>
       <div>{{form.nos}}</div>
       <label style="color:white;"><b>PRICE:</b></label>
       <div>{{form.price}}</div>
       <label style="color:white;"><b>Time:</b></label>
       <div>{{form.time}}</div>
       <label style="color:white;"><b>Date:</b></label>
       <div>{{form.date}}</div>
       <div>
           <button type = "submit" style="background-color:blue;color:white;margin-top:10px;">Add</button>
       </div>
       </center>
    </form>
</div>   
{%endblock%}
